*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.log
*.fls
*.out
*.run.xml
*.synctex.gz
*.lot
*.lof
*.toc

*/*.aux
/*.bbl
*/*.bcf
*/*.blg
*/*.fdb_latexmk
*/*.log
*/*.fls
*/*.out
*/*.run.xml
*/*.synctex.gz
*/*.lot
*/*.lof
